---
---


<section id="about" class="flex flex-col justify-center items-center gap-10 py-10 px-4">

    <header class="flex flex-col justify-center gap-2">
    <p class="text-center text-xs font-extrabold text-[#6ABE5E]">Sobre Mí.</p>
    <h1 class="text-xl md:text-5xl">Conóceme un poco más.</h1>
    <p class="text-center text-xs text-[#6F797D]">Información acerca de mí.</p>
    </header>

    <main class="grid sm:grid-cols-1 lg:grid-cols-3 gap-4">

        <div class="card bg-[#31443F] rounded-xl py-4 px-4 lg:col-span-3 flex flex-col flex-wrap gap-4 items-center justify-center">
            <h2 class="text-xl md:text-2xl text-center">Mi nombre es Angel Bernal</h2>
            <p class="max-w-[400px] text-center text-xs">Me entusiasman profundamente los avances tecnológicos, el desarrollo web y brindar soporte técnico, así como ayudar a los usuarios en sus necesidades. Estoy ávido de oportunidades que me permitan expandir mis horizontes tanto personal como profesionalmente, contribuyendo al crecimiento mutuo y al éxito conjunto.</p>
        </div>

        <div class="card bg-[#31443F] py-4 px-4 rounded-xl flex flex-col justify-center items-center gap-2 lg:col-span-2">
            <h2 class="text-xl md:text-2xl text-center">¿Qué estoy buscando?</h2>
            <p class="max-w-[400px] text-center text-xs">Oportunidades emocionantes para comenzar mi carrera profesional. Estoy deseando aplicar mis habilidades recién adquiridas en un entorno laboral. Estoy comprometido a aprender y crecer, y estoy ansioso por contribuir de manera positiva en un equipo dinámico.</p>
        </div>

        <div class="card bg-[#31443F] py-4 px-4 rounded-xl flex items-center justify-center">
            <img src="/image2.png" alt="Angel Bernal" class="size-20">
        </div>


    </main>

</section>