---
---

<section id="education" class="flex flex-col justify-center items-center gap-10 py-10 px-4">

<header class="flex flex-col justify-center gap-2">
<p class="text-center text-xs font-extrabold text-[#6ABE5E]">Educación.</p>
<h1 class="text-xl md:text-5xl">Universidad UniverMilenium.</h1>
<p class="text-center text-xs text-[#6F797D]">Información acerca de mi educación.</p>
</header>

<main class="grid sm:grid-cols-1 lg:grid-cols-3 gap-4">

    <div class="bg-[#26353A] py-4 px-4 rounded-xl flex flex-col justify-center items-center gap-2 lg:col-span-2">
        <h2 class="text-xl md:text-2xl text-center">Experiencia académica</h2>
        <p class="max-w-[400px] text-center text-xs">Uso de diversos lenguajes de programación, como Java, PHP y Python, a un nivel básico. Además, he adquirido habilidades en el manejo de sistemas operativos, especialmente en entornos Linux y algunas de sus distribuciones. Estoy constantemente ampliando mis conocimientos y buscando nuevas oportunidades para mejorar mis habilidades técnicas.</p>

    </div>

    <div class="bg-[#26353A] py-4 px-4 rounded-xl flex items-center justify-center col-span-1">
        <img src="/image6.png" alt="Angel Bernal" class="size-20">
    </div>

</main>

</section>