---
---

<section id="habilidades" class="flex flex-col justify-center items-center gap-10 py-10 px-4">

    <header class="flex flex-col justify-center gap-2">
    <p class="text-center text-xs font-extrabold text-[#6ABE5E]">Habilidades.</p>
    <h1 class="text-xl md:text-5xl">Conocimientos.</h1>
    <p class="text-center text-xs text-[#6F797D]">Información sobre mis habilidades.</p>
    </header>
    
    <main class="grid sm:grid-cols-1 lg:grid-cols-3 gap-4">
    
        <div class="bg-[#31443F] py-4 px-4 rounded-xl flex flex-col justify-center items-center gap-2 lg:col-span-2">
            <h2 class="text-xl md:text-2xl text-center">Frontend</h2>
            <p class="max-w-[400px] text-center text-xs">Conocimientos intermedios en HTML, CSS y Jr. en JavaScript. Estas destrezas fundamentales no solo me han abierto las puertas al emocionante mundo del desarrollo web, sino que también me han capacitado para crear contenido web funcional.</p>
    
        </div>
    
        <div class="bg-[#31443F] py-4 px-4 rounded-xl flex items-center justify-center col-span-1">
            <img src="/image7.png" alt="Frontend" class="size-10">
        </div>


        <div class="bg-[#31443F] py-4 px-4 rounded-xl flex flex-col justify-center items-center gap-2 lg:col-span-3">
            <h2 class="text-xl md:text-2xl text-center">Backend</h2>
            <p class="max-w-[400px] text-center text-xs">Conocimientos básicos en PHP y MySQL para el desarrollo de páginas web conectadas a bases de datos. Desde la creación de la base de datos hasta la implementación de la conexión, dispuesto a seguir aprendiendo.</p>
    
        </div>
    
        <div class="bg-[#31443F] py-4 px-4 rounded-xl flex items-center justify-center col-span-1">
            <img src="/image8.png" alt="Frontend" class="size-10">
        </div>

        <div class="bg-[#31443F] py-4 px-4 rounded-xl flex flex-col justify-center items-center gap-2 lg:col-span-2">
            <h2 class="text-xl md:text-2xl text-center">Soporte</h2>
            <p class="max-w-[400px] text-center text-xs">Habilidades en soporte técnico que abarcan desde la instalación de sistemas operativos, mantenimiento preventivo y correctivo hasta la instalación de software y cambio de componentes como discos, RAM, etc.</p>
    
        </div>
    

    
    </main>
    
    </section>
